@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Welcome Banner Container (Homepage) */
.welcome-banner-dark {
  display: flex;
  font-family: Audiowide, 'Segoe UI', Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: lch(100% 0.01 296.81);
  text-shadow: 0 10px 16px lch(0% 0 0 / 0.443);
}
.App.light-mode {
  display: flex;
  font-family: Audiowide, 'Segoe UI', Arial, sans-serif;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items:flex-end;
  gap: 3rem;
  font-size: 2.3rem;
  color: lch(0% 0 0);
  text-shadow: 0 10px 16px lch(0% 0 0 / 0.443);

}
h1#welcome-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-rendering: optimizeLegibility;
  font-family: Audiowide, 'Segoe UI', Arial, sans-serif;
  margin-top: 0;
  font-size: 6rem;
  color: lch(0% 0 0);
  text-shadow: 0 8px 12px lch(1.29% 4.84 19.4 / 0.63);
}

