/* .root → Global Styles (All Pages) */
/* a → Global Link Styles (All Pages) */
/* body → Global Body Styles (All Pages) */
/* h1 → Global Heading Styles (All Pages) */
/* button → Global Button Styles (All Pages) */
img {
  display: unset;
  max-width: 100%;
  max-height: 100%;
}

html {
  box-sizing: border-box;
  top: 0 ;
  bottom: 0;
}


body {
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  text-align: center;
  max-height: calc(100vh - 200px);
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Audiowide', 'Segoe UI', Arial, sans-serif;
}

div {
  display: block;
}
#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  max-width: 100vw;
  max-height: 100%;
  overflow: hidden;
  color-scheme: light dark;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: lch(65.76% 59.03 26.27);
  
  transition: color 0.4s ease-in-out;
}

@media (prefers-color-scheme: light-mode) {
  
  a:hover {
    color: lch(77.56% 37.19 248.58);
  }
  button {
    background-color: lch(98% 0 0);
    color: lch(0% 0 0);
  }
}

