/* .root → Global Styles (All Pages) */
/* a → Global Link Styles (All Pages) */
/* body → Global Body Styles (All Pages) */
/* h1 → Global Heading Styles (All Pages) */
/* button → Global Button Styles (All Pages) */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

div {
  display: unset
}
root {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  margin-top: 0;
  padding: 0;
  color-scheme: light dark;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light-mode) {
  :root {
    color: lch(30% 20 250);
    background-color: lch(98% 0 0);
  }
  a:hover {
    color: lch(70% 60 270);
  }
  button {
    background-color: lch(98% 0 0);
    color: lch(20% 0 0);
  }
}

